/*---------------------------------------- */


/* ==              FONTS                    */


/*---------------------------------------- */

body,
html,
.bloc_page {
    height: 100%;
}

body {
    font-family: 'Times', Times New Roman, serif;
    width: 100%;
    margin: 0px;
    line-height: 23px;
}

img {
    width: 100%;
    height: auto;
}

.bloc_page {
    margin: auto;
    width: 100%;
}

h1,

/* .chapters_content h3 a {
    color: white;
} */

.content h1,
h2 {
    color: #1b306b;
    background-color: #80808054;
    margin-top: 85px
}

.content h2 {
    padding: 15px;
}

#slogan {
    position: absolute;
    width: 100%;
    padding: 30px;
    top: 40%;
}

.container_post h2,
#slogan,
.chapters_content_head,
.container_contact h3,
.chapterlist a,
.read_more,
footer,
footer a,
.socialmedia,
#adminlogin,
#adminlogin form,
#success,
.success-flag-comment {
    text-align: center;
}


/* COLOR */

.chapterlist h3,
h2,
.read_more a {
    color: black;
}

#contact_us input,
#slogan h2,
.text-white-50,
.nav_menu a,
.container,
.container_contact h3,
#contact_us form,
.read_more,
.read_more:hover,
.container_post h2 #contact_us input,
footer,
footer a {
    color: white;
}


/* ---------------------------------------- */


/* ==              HEADER               */


/*---------------------------------------- */

header {
    background-color: #1b306b;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding: 26px;
}

header a,
.search-container {
    position: inherit;
}

#burger_action {
    color: wheat;
    padding-right: 57px;
}

header .logo {
    display: none;
}


/* NAVIGATION */

#burger_menu {
    display: none;
    top: 0;
    right: 0;
    list-style-type: none;
}

.nav_menu {
    display: none;
}

.nav_menu {
    clear: both;
    transition: .2s ease-out;
}

header ul {
    flex: 2;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav_menu {
    list-style-type: none;
}

.nav_menu a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}

#chk1:checked~ul {
    right: 0;
}


/* HOME PAGE SLOGA*/

.startbutton {
    padding: 9px;
    border-radius: 18px;
}

.parallax,
#homepage {
    display: none;
}


/* ---------------------------------------- */


/* ==           APP PAGE              */


/*---------------------------------------- */


/* #app {
    padding-top: 8%;
} */

#app form {
    /* width: 32%; */
    margin: 25px;
    padding: 25px;
}

#map {
    width: 100%;
    height: 700px;
}

.destination-info {
    display: none;
}


/* ---------------------------------------- */


/* ==           CONTACT PAGE              */


/*---------------------------------------- */

#contact_us {
    background-image: url("/public/images/normandy.jpeg");
}

#contact_us input[type=text],
select,
textarea,
input [type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

#contact_us input [type=submit] {
    /* background-color: #294040; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact_us input[type=submit]:hover {
    background-color: #294040;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.container_contact {
    padding: 190px;
    background-color: #000000a6;
}

.container_contact h3 {
    font-size: 64px;
    /* color: rgb(112, 111, 111); */
    /* padding-top: 62px; */
}

.logintexts a {
    color: #000000;
    text-decoration: underline;
}

#contact_us form {
    /* background-color: rgb(33 101 101 / 94%); */
    padding: 20px;
    border-radius: 3px;
}

#success {
    font-size: 30px;
    background-color: #b2caca;
    color: #294040;
    padding: 5px;
    display: none;
    line-height: 2;
}


/* flagging messages for each chapters */

.success-flag-comment {
    color: #fefefe;
    padding: 7px;
    display: none;
    background-color: #801313c7;
    border-radius: 24px;
}


/* ---------------------------------------- */


/* ==              FOOTER                */


/*---------------------------------------- */

footer,
footer a {
    background-color: #292929;
    padding: 7px;
}

.socialmedia {
    display: flex;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}


/* ---------------------------------------- */


/* ==              LOGIN                    */


/*---------------------------------------- */

.formHeader {
    display: flex;
    background-color: #1b306b57;
    list-style: none;
    margin: 0px;
    color: white;
    justify-content: space-evenly;
    padding: 17px;
}

.loginhead {
    display: flex;
    /* margin: 7em auto; */
    width: 400px;
    margin-top: 63px;
    /* text-align: center; */
    justify-content: center;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#signup .main {
    height: 560px;
}

.logintexts {
    text-align: center;
    padding: 10px;
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    /* margin-left: 46px; */
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    /* padding-top: 15px; */
    text-align: center;
}

.pass,
.email,
.user,
.passVerif {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    /* margin-bottom: 50px; */
    /* margin-left: 46px; */
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.un:focus,
.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #1b306b57, #20305aba);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 35%; */
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

#signup,
#userlogin {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: black;
    text-decoration: none;
}

#adminlogin {
    padding-top: 96px;
    background-color: #00808038;
}

.loginsubmit {
    border-radius: 10px;
    background: linear-gradient(to right, teal, #cae3e3);
    padding: 2px;
    width: 14%;
}

#admin {
    text-align: center;
    padding: 30px;
}

#adminlogin h1 {
    color: black;
}

#adminlogin form {
    box-sizing: border-box;
}

.admin_container label {
    padding-left: 8px;
}

.admin_container {
    padding: 30px;
}

thead {
    background-color: teal;
}

.desktop_row {
    display: none;
}

tr.last_row {
    border-bottom: 5px solid teal;
}

.mobile_row td {
    background-color: #80808033;
    font-size: 22px;
}

#warning {
    display: flex;
    color: red;
}


/* ---------------------------------------- */


/*  ==            MEDIA QUERIES             */


/*---------------------------------------- */

@media screen and (min-width: 1200px) {
    /* ---------------------------------------- */
    /* ==          HEADER                   */
    /*---------------------------------------- */
    header {
        padding: 16px;
    }
    header .logo {
        flex: 1;
        color: white;
    }
    header .logo {
        display: block;
    }
    .nav_menu,
    .logo {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        list-style-type: none;
        margin: 0px;
        color: white;
    }
    .nav_menu li a:hover {
        color: teal;
    }
    #burger_action {
        display: none;
    }
    /* ---------------------------------------- */
    /* ==          HOME PAGE                   */
    /*---------------------------------------- */
    .startbutton {
        width: 12%;
    }
    /* PARALLAX HOME PAGE */
    .parallax {
        /* The image used */
        background-image: url('/public/images/lyon.jpeg');
        /* Full height */
        height: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax,
    #homepage {
        display: block;
    }
    /* ---------------------------------------- */
    /*  ==            APP PAGE                  */
    /*---------------------------------------- */
    /* #filters_form,
    .models {
        display: flex;
        padding: 30px;
    } */
    .models {
        margin-top: 43px;
    }
    .checkbox {
        padding: 3px;
    }
    h1,
    .content h1,
    h2 {
        margin-top: 99px;
        color: #1b306b;
        background-color: #80808054;
        text-align: center;
    }
    #app form {
        /* width: 32%; */
        padding: 31px;
        column-count: 2;
        background-color: #1b306b36;
    }
    #appSearchPage h3 {
        margin-top: 93px;
        text-align: center;
        background-color: #cfd4df;
        padding: 18px;
    }
    /* ---------------------------------------- */
    /*  ==            BECK END                  */
    /*---------------------------------------- */
    /* dashboard homepage */
    .headerbackend {
        padding: 17px;
        width: 100%;
    }
}